<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">E-Shop</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">

        <a class="nav-link <%= path === "/" ? "active" : "" %>" aria-current="page" href="/">Shop</a>
        <a class="nav-link" href="#">Products</a>
        <a class="nav-link <%= path === "/cart" ? "active" : "" %></a>" href="/cart">Cart</a>
        <a class="nav-link" href="#">Orders</a>
        <a class="nav-link <%= path === "/admin/add-product" ? "active" : "" %>" href="/admin/add-product">Add Product</a>
        <a class="nav-link <%= path === "/admin/products" ? "active" : "" %>" href="/admin/products">Admin</a>
       
      </div>
    </div>
  </div>
</nav>
